<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<!--
Copyright 2009 - 2012 Andrew Rondeau
This code is released under the Simple Public License (SimPL) 2.0.  Some additional privelages are granted.
For more information, see either DefaultFiles/Docs/license.wchtml or /Docs/license.wchtml
-->

  <configSections>
  	<sectionGroup name="common">
  		<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
  	</sectionGroup>
    <!-- sectionGroup name="spring">
      <section name="context"	type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup -->
  </configSections>

	<common>
    <logging>
      <factoryAdapter type="ObjectCloud.Logger.LoggerFactoryAdapter, ObjectCloud.Logger">
        <arg key="level" value="INFO" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture=""/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.0.0.0"/>
        <!-- reference specific file: -->
        <!-- codeBase version="2.0.0.0" href="../../../build/net/2.0/release/Common.Logging.dll"/ -->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>