@charset "utf-8";
/* CSS Document */

body 
{ 
   margin: 0 auto;
   font-family:Arial, Helvetica, sans-serif;
}

a:link
{ 
   color: #5e728c;
}

a:visited
{ 
   color: #364150;
}

a:hover
{
   color: #ffffff;
   background-color: #99c7fb;
}

a:active
{
   color: #ffffff;
   background-color: #000000;
}


td
{
   background: #FFFFFF;
}

th
{
   background: #BBBBBB;
}

/* Start of Header Content */

.binarycloud
{
   float: left;
   margin-right: -30em;
   font-size: 0.5em;
   color: #ddd;
   padding-left: 7em;
}

.binarycloud a:link
{
   color: #ddd;
   font-family: courier-new, courier;
   text-decoration:none;
}

.binarycloud a:visited
{
   color: #ddd;
   font-family: courier;
   text-decoration:none;
}

.binarycloud a:hover
{
   color: #ddd;
   font-family: courier;
   text-decoration:none;
   background: transparent;
}

.logo
{
   float: left;
   font-family: courier-new, courier;
   margin-top: 20px;
}

.logotitle
{
   font-size: 4em;
}

.logo a:link
{
   text-decoration:none;
   color: #fff;
}

.logo a:visited
{
   text-decoration:none;
   color: #fff;
}

.logo a:hover
{
   color: #ffffff;
   background-color: transparent;
}

.logoslogan
{
   margin-left: 10em;
}

.header 
{
   text-align: left;
   width: 100%;
   height: 120px;
   color: #fff;
   background: #99c7fb;
   background-image:url(/DefaultTemplate/header.png?BrowserCache=1);
   background-repeat:repeat-x;
   background-position:top;
}

.maxwidth
{
   max-width: 1000px;
}

#account 
{
   float: right;
   margin-right: 20px;
   margin-top: 20px;
   background: #99c7fb;
   font-size: 0.75em;
   text-align: right
}

#accountblock a {

   color:#fff;
}

#accountblock a:hover
{
   color: #ffffff;
   background-color: #4c637d;
}

div.staticmenu
{
   position: absolute;
   top: 70px;
   left: 500px;
   font-size: 1.5em;
   background: #99c7fb;
}

.staticmenu a:link
{
   text-decoration:none;
   color: #fff;
}

.staticmenu a:visited
{
   text-decoration:none;
   color: #fff;
}

.staticmenu a:hover
{ 
   color: #ffffff;
   background-color: #99c7fb;
   text-decoration: none;
}

.staticmenu a:active
{ 
   color: #ffffff;
   background-color: #000000;
   text-decoration: none;
}


/* Start of Body Content */

div.contents 
{
   max-width: 800px;
   border: 1px solid #4c637d;
   padding: 5px;
}

/* Start of Menu Content */
div.navbar
{
   width: 155px;
   float: left;
   background-color: #fff;
   padding-left: 5px;
}

.navbar a:link
{ 
   text-decoration: none;
}

.navbar a:visited
{ 
   color: #5e728c;
   text-decoration: none;
}

.navbar a:hover
{ 
   color: #ffffff;
   background-color: #99c7fb;
   text-decoration: none;
}

.navbar a:active
{ 
   color: #ffffff;
   background-color: #000000;
   text-decoration: none;
}

.navbinarycloud
{
   text-align: left;
   color: #99c7fb;
   font-size: 0.6em;
}

.navbarimage
{
   float: left;
   margin-right: 3px;
}

.navbaruserlinks
{
   font-size: 0.75em;
}
	
#hrbar {

	margin-top: 5px;
	margin-bottom: 5px;
}

#menu a{
	color:#4f4f4f;
	display:block;
	text-decoration:none;
	
	
	}
	
#createbtn{
margin-top: 10px;
margin-bottom:5px;
border: 0px;
}

	
#updatebtn{
	float: right;
	}
	
#disabled {
	color:#999;
}

input {
	padding:0px;
	font-size: 11px;
	}
	
hr {
	border: 1px solid #bfbfbf;	
	color: #bfbfbf;
	width: 80%
	
	}
	
#sort {
	
	margin-bottom: 5px;
	margin-top:5px;
	
	}
	
#social{

	width: 150px;
	margin-left: 20px;

	}
	
	
	/* Start of FEED Content */
	
	/* Start of Footer Content */
	
div.footer
{
   float: left;
   font-size:10px;
   line-height:34px;
   margin-top:20px;
   text-align:center;
   width: 100%;
   clear: both;
}

img.footer
{
   border-style: none;
}
	
table
{
   color: #000000;
   background: #000000;
}

table.feed_simplesummary
{
   color: #000000;
   background: #ffffff;
}

td.feed_simplesummary
{
   vertical-align:top;
}

td
{
   background: #FFFFFF;
}

th
{
   background: #BBBBBB;
}

div.contents
{
   color: black;
   background: white;
   margin: 1em 0 0 11em;
}

div.objectbar
{
   background: #99c7fb;
}

h1
{
   font-size: 1.5em;
   font-weight: bold; 
}

h2
{
   font-size: 1.25em;
   font-weight: bold; 
}

h3
{
   font-size: 1.1em;
   font-weight: bold; 
}

h4
{
   font-size: 1em;
   font-weight: bold; 
}

div.title
{
   font-size: 2em;
   text-align: center;
   font-weight: bold; 
}

.title a:link
{ 
   text-decoration: none;
}

.title a:visited
{ 
   text-decoration: none;
}

.title a:hover
{ 
   text-decoration: none;
}

.title a:active
{ 
   text-decoration: none;
}

div.suggestions
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;   
}

div.suggestions div 
{
    cursor: default;
    padding: 0px 3px;
    background-color: #bbbbbb;
}

div.suggestions div.current 
{
    background-color: #3366cc;
    color: white;
}

.emphasize
{
    background-color: #bbbbbb;
    margin: 0px 3px;
}
