div.notifications
{
   max-width: 500px;
}

div.notificationLink
{
   margin-left:50px;
   background-color:#cccccc;
}

form.status
{
   margin-left:50px;
   margin-bottom:50px;
   background-color:#cccccc;
}

form.status textarea
{
   width: 500px;
}