div.notification
{
   min-height: 80px;
   font-size: 0.75em;
   max-width: 550px;
}

div.notificationContents
{
   margin-left: 60px;
}

div.notificationAvatar
{
   float: left;
   width: 55px;
}

div.notificationLink
{
   margin-bottom: 5px;
   background: #99c7fb;
   padding: 5px;
   min-height: 35px;
   max-width: 400px;
}

div.linkAvatar
{
   float: left;
   width: 40;
}

div.linkSummaryView
{
   margin-left: 45px;
   font-size: 0.9em;
}

form.status
{
   margin-bottom:25px;
   background: #99c7fb;
   padding: 5px;
   max-width: 550px;
}

form.status textarea
{
   width: 100%;
}